<!-- <h1>New message</h1>

<%= render "form", message: @message %>

<br>

<div>
  <%= link_to "Back to messages", messages_path %>
</div> -->
<h1>New Message</h1>

<%= form_with model: @message, url: messages_path do |form| %>
  <%= form.text_area :content, placeholder: "Enter message content" %>

  <%= form.collection_select :room_id, Room.all, :id, :name, prompt: "Select a room" %>

  <%= form.submit "Send Message" %>
<% end %>